body {
    background-image: url("../images/whirlpool.png");
    margin: 0;
}

header {
    background-color: white;
    padding: 30px;
    width: 100%;
    border-bottom: 1px solid grey;
 
}

.pageheader {
    position: relative;
    top: -30px;
    text-align: center;
	background-color: teal;
	color: white;
	font-size: 40px;
	width: 20%;
    height: 60px;
	float: left;
	margin-left: 150px;
}

.links {
    float: left;
    position: relative;
    left: 550px;
    bottom: 10px;
}



