.container {
    height: 700px;
    width: 1356px;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
body {
    background-image: url("../images/whirlpool.png");
    margin: 0;
}

header {
    background-color: white;
    padding: 42px;
    width: 100%;
    border-bottom: 1.5px solid #DCDCDC;

}

.pageheader {
    position: relative;
    top: -43px;
    text-align: center;
	background-color: #85bcc4;
	color: white;
	font-size: 40px;
	width: 21%;
    height: 70px;
	float: left;
    margin-left: 40px;
    padding-top: 15px;
    
}

.links {
    float: left;
    position: relative;
    left: 230px;
    bottom: 10px;
}


#index {
    margin-right: 20px;
    word-spacing: 20px;
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

#index:hover {
    filter: alpha(opacity=70);
    opacity: 0.8;
    color: teal;
}

#contact{
    margin-right: 20px;
    word-spacing: 20px;
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

#contact:hover {
    filter: alpha(opacity=70);
    opacity: 0.8;
    color: teal;
}

#portfolio {
    margin-right: 20px;
    text-decoration: none;
    color: grey;
    font-size: 19px;
}

#portfolio:hover {
    filter: alpha(opacity=70);
    opacity: 0.8;
    color: teal;
}

.aboutSection {
    background-color: white;
    margin-top: 30px;
    margin-left: 80px;
    height: 500px;
    width: 850px;
    border: 1px solid #DCDCDC;
    margin-bottom: 15px;
   
}

h1 {
    clear: both;
    overflow: auto;
    color: #75abb3;
    padding: 5px;
    margin-left: 15px;
    font-size: 40px;
    
    
}

h2 {
    background-color: #DCDCDC;
    height: 3px;
    margin-left: 25px;
    margin-right: 80px;
    margin-bottom: 40px;
    
}

#profile_pic {
   height: 184px;
   width: 158px;
   margin-left: 20px;
   padding-right: 20px;
   float: left;
}

#blurb {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 75px;
   
}

footer {
    clear: both;
    overflow: auto;
    background-color: grey;
    padding: 30px;
    width: 102%;
    border-top: 7px solid #85bcc4;
    text-align: center;
    color: white;
    font-size: 12px;
}

#contact-header {
    color: #75abb3;
    padding: 5px;
    margin-left: 15px;
    font-size: 40px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 5px; /* Some padding */  
    font-size: 10px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0px; /* Add a top margin */
    margin-bottom: -5px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #85bcc4;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #85bcc4;
}

#contact-box {
    font-size: 25px;
}

h3 {
    background-color: #DCDCDC;
    height: 3px;
    margin-left: 25px;
    margin-right: 80px;
    margin-bottom: 0px;
}

label {
    font-size: 15px;
    color: grey;
}

form {
    height: 500px;
    width: 740px;
    margin-left: 25px;
    
}

#image-one, #image-two, #image-three, #image-four, #image-five {
    height: 150px;
    width: 150px;
    padding: 20px;
    float: left;
}


.i-one {
    position: relative;
    text-align: center;
    color: white;
   
}

.hangman {
    position: absolute;
    bottom: -142px;
    left: 20px;
    background-color: #75abb3;
    width: 150px;
}

.rpg {
    position: absolute;
    bottom: -142px;
    left: 210px;
    background-color: #75abb3;
    width: 150px;
}

.trivia {
    position: absolute;
    bottom: -142px;
    left: 400px;
    background-color: #75abb3;
    width: 150px;
}

.info {
    position: absolute;
    bottom: -330px;
    left: 20px;
    background-color: #75abb3;
    width: 150px;
}

.rps {
    position: absolute;
    bottom: -330px;
    left: 210px;
    background-color: #75abb3;
    width: 150px;
}

.social {
    float: left;
    margin-left: 338px;
}

#linkedin, #twitter, #facebook, #github {
   padding: 5px;
  

}

img {
    filter: alpha(opacity=100);
    opacity: 1;
}
img:hover {
    filter: alpha(opacity=70);
    opacity: 0.2;
    
}